@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}


@keyframes jiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.animate-jiggle {
  animation: jiggle 0.5s ease-in-out;
}


/* Barre de défilement personnalisée */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-md; /* Couleur de la "thumb" et coins arrondis */
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700; /* Couleur au survol */
}



/* Base styles */
body {
  @apply bg-white text-gray-900;
}

/* Dark mode */
.dark body {
  @apply bg-gray-900 text-white;
}


